<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sale food ja</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="/assets/styles.css" />
    <!-- Import Vue.js -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <nav>

      <h1 style="float: right; margin-right: 10%"><%= id %></h1>
      <br />
      <br />
      <br />
      <center><p style="font-size:80px; ">ยินดีต้อนรับ</p></center>
      <br />
      
    </nav>
    <div id="app">
      <center>
        <img src="/assets/images/hh.jpg" style="margin-left: 8%; height:500px;width:1200px;" />
      </center>

      <bubletea
        :stocker="stocker"
        @add-to-cart="updateCart"
        @remove-from-cart="removeById"
        @add-to-priced="updatePriced"
        @remove-from-priced="removeByIdp"
      >
        <!-- solution -->
      </bubletea>

      <rice
        :stocker="stocker"
        @add-to-cart="updateCart"
        @remove-from-cart="removeById"
        @add-to-priced="updatePriced"
        @remove-from-priced="removeByIdp"
      >
        <!-- solution -->
      </rice>

      <noodle
        :stocker="stocker"
        @add-to-cart="updateCart"
        @remove-from-cart="removeById"
        @add-to-priced="updatePriced"
        @remove-from-priced="removeByIdp"
      >
        <!-- solution -->
      </noodle>

      <center>
        <div class="cart2" style="width: 700px">
          <center>
            <h2>รายการอาหารที่สั่ง</h2>
          </center>

          <div style="display: none">
            {{sum = 0}}
          </div>

          <div v-for="(item, index) in cart">
            <h4>
              <div style="float: left">
                {{ item }}
              </div>
              <div style="float: right">
                {{ priced[index] }}
              </div>
            </h4>
            <br />
            <div style="display: none">
              {{ sum += priced[index] }}
            </div>
          </div>
          <br />
          <h4>
            <div style="float: left">รวม : </div>
            <div style="float: right"> :  {{ sum }}</div>
          </h4>
        </div>

        <!-- button -->
        <form action="/" method="post">
          <!-- {{orderStr = cart + "" }} -->
          <input type="hidden" name="order" :value="toStr" />
          <input type="hidden" name="orderTotal" :value="getsum" />
          <input type="hidden" name="orderByUser" value="<%= id %>" />
          <button
            type="submit"
            name="addToDB"
            value="addToDB"
            class="btn btn-success"
          >
            Success
          </button>
        </form>
      </center>
      <!-- Import App -->
      <script src="/main.js"></script>

      <!-- Import Components -->
      <script src="/components/water.js"></script>
      <script src="/components/tess.js"></script>
      <script src="/components/noodle.js"></script>
      <script src="/components/rice.js"></script>
      <script src="/components/button.js"></script>

      <!-- Mount App -->
      <script>
        const mountedApp = app.mount("#app");
      </script>
    </div>
  </body>
  <footer style="margin: 20%"></footer>
</html>
