<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>sale food ja</title>


    <!-- test -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <!-- test -->



    <!-- Import Styles -->
    <link rel="stylesheet" href="/assets/styles.css" />
    <!-- Import Vue.js -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body style="background: radial-gradient(ellipse at left, #181b20 0%, #090a0f 10%, #34344d 50%,#3d3b75 80%,#34344d 100%  )">
   
      <!-- test -->
      <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>
        <!-- test -->

    <nav>
      <br />  
      <h1  style="float: right; margin-right: 10%;color:white">สวัสดีคุณ  <%= id %></h1>
      <br/>
      <div class="frame">
        <button style=" margin-right: 7%;" class="custom-btn btn-11">logout<div class="dot"></div></button>
      </div>
    </nav>
    <div id="app">
      <center>

    </nav>
    <div id="app">
      <center>
        <img src="/assets/images/hh.jpg" style="height:500px;width:1200px;width: 70%;" />
      </center>
      <center>
        <div class="contente">
        <div class="slider1-wrapper">
          ร้านเรามี
          <div class="slider1">
              <div class="slider1-text11">ข้าว</div>
              <div class="slider1-text21">ก๋วยเตี๋ยว</div>
              <div class="slider1-text31">ชา</div>
              
            </center>

      <bubletea
      
        :stocker="stocker"
        @add-to-cart="updateCart"
        @remove-from-cart="removeById"
        @add-to-priced="updatePriced"
        @remove-from-priced="removeByIdp"
      >
        <!-- solution -->
      </bubletea>

      <rice
        :stocker="stocker"
        @add-to-cart="updateCart"
        @remove-from-cart="removeById"
        @add-to-priced="updatePriced"
        @remove-from-priced="removeByIdp"
      >
        <!-- solution -->
      </rice>

      <noodle
        :stocker="stocker"
        @add-to-cart="updateCart"
        @remove-from-cart="removeById"
        @add-to-priced="updatePriced"
        @remove-from-priced="removeByIdp"
      >
        <!-- solution -->
      </noodle>

      <center>
        <div class="cart2" style="width: 700px">
          <center>
            <h2>รายการอาหารที่สั่ง</h2>
          </center>

          <div style="display: none">
            {{sum = 0}}
          </div>

          <div v-for="(item, index) in cart">
            <h4>
              <div style="float: left">
                {{ item }}
              </div>
              <div style="float: right">
                {{ priced[index] }} บาท
              </div>
            </h4>
            <br />
            <div style="display: none">
              {{ sum += priced[index] }}
            </div>
          </div>
          <br />
          <h4>
            <div style="float: left">รวม : </div>
            <div style="float: right">   {{ sum }} บาท</div>
          </h4>
          
        </div>

        <!-- button -->
        <form action="/" method="post">
          
          <!-- {{orderStr = cart + "" }} -->
          <input type="hidden" name="order" :value="toStr" />
          <input type="hidden" name="orderTotal" :value="getsum" />
          <input type="hidden" name="orderByUser" value="<%= id %>" />
          <div style="width: 400px">
            <h3>เบอร์โทร</h3>
            <input type="tel" name="orderContact" />
            <h3>รายละเอียดเพิ่มเติม</h3>
            <input type="text" name="orderComment" />
          </div>
          <br />
          <button
            type="submit"
            name="addToDB"
            value="addToDB"
            class="go" 
            class="custom-btn btn-11" 
            :disabled="cart.length > 0 ?disabled  :'' "
          >
            Success
          </button>
         
        </form>
      </center>
       <br/>
       <br/>
      <!-- Import App -->
      <script src="/main.js"></script>

      <!-- Import Components -->
      <script src="/components/water.js"></script>
      <script src="/components/tess.js"></script>
      <script src="/components/noodle.js"></script>
      <script src="/components/rice.js"></script>
      <script src="/components/button.js"></script>

      <!-- Mount App -->
      <script>
        const mountedApp = app.mount("#app");
      </script>
    </div>
  </body>


  <br/>
</html>
